<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('/css/GlobalStyle.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
    <nav class="navbar">
        <ul class="navbar-nav ">
            {% if not app.user %}
                <li>
                    <a class="nav-link d-inline" href="{{ path('security_login') }}">LogIn</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link d-inline" href="{{ path('security_logout') }}">LogOut</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
