{% extends 'base.html.twig' %}

{% block title %}Update Password{% endblock %}


{% block body %}
    <div class="container">
        <div class="card mx-auto col-8 mt-4 mb-4 border-primary">
            <h1 class="mx-auto card-header mt-2 mb-5 border-bottom border-primary rounded">Update Password</h1>
            <div class="d-block my-5">
                {{ form_start(form) }}
                {{ form_row(form.password,{'label':'Password','attr':{ 'placeholder':'Password' }})}}
                {{ form_row(form.confirmPassword,{'label':'Confirm Password','attr':{ 'placeholder':'Confirm your Password' }})}}
                <button type="submit"  class="btn btn-outline-primary mb-3" >Modifier</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
