body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}
.logo{
    position: absolute;
    bottom:45%;
    right:20%;
    max-width:20%;
}
/* Textes */
.texts{

    color: black;
    z-index: 10;
}

#VTB{
    position: absolute;
    right: 18%;
    bottom: 30%;
    color: white;
    font-size: 5vh;
    z-index: 10;
}

.inscriptions_texts_block{
    position: absolute;
    top: 40%;
    left:10%;

}
/*  Background  */
.background_1{
    background-color: #08415c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 50% 100%);

}
.background_2{
    background-color: #2898cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    clip-path: polygon(29% 0, 100% 0, 100% 100%, 45% 100%);

}

.background_3{
    background-color: #98d5f2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 35% 100%);

}
