{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <div class="container">
        <ul>
            <li>
                <div class="card mx-auto col-8 mt-4 mb-4 border-primary">
                    <h1 class="mx-auto card-header mt-2 mb-5 border-bottom border-primary rounded">Annonces</h1>


                </div>
            </li>
        </ul>
    </div>

{% endblock %}
